# Pyspark Basic Intro

## 1. Import pyspark

In [2]:
import pyspark

In [2]:
!pyspark --version

21/05/31 13:55:52 WARN Utils: Your hostname, abel-Surface-Pro resolves to a loopback address: 127.0.1.1; using 192.168.0.33 instead (on interface wlp1s0)
21/05/31 13:55:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.0.1
      /_/

Using Scala version 2.12.10, OpenJDK 64-Bit Server VM, 1.8.0_152-release
Branch HEAD
Compiled by user ubuntu on 2020-08-28T07:36:48Z
Revision 2b147c4cd50da32fe2b4167f97c8142102a0510d
Url https://gitbox.apache.org/repos/asf/spark.git
Type --help for more information.

In [3]:
import pandas as pd

In [4]:
pd.read_csv("./data/data.csv")

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101"
1,236671,Bose SoundSport Headphones,1,99.99,08/15/19 15:11,"492 Ridge St, Dallas, TX 75001"
2,236672,iPhone,1,700.00,08/06/19 14:40,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.84,08/29/19 20:59,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.84,08/15/19 19:53,"736 14th St, New York City, NY 10001"
5,236675,Wired Headphones,1,11.99,08/02/19 23:54,"470 Hill St, San Francisco, CA 94016"
6,236676,34in Ultrawide Monitor,1,379.99,08/04/19 19:52,"470 Cherry St, Los Angeles, CA 90001"
7,236677,20in Monitor,1,109.99,08/13/19 07:16,"918 6th St, San Francisco, CA 94016"
8,236678,Wired Headphones,1,11.99,08/25/19 20:11,"58 9th St, San Francisco, CA 94016"
9,236679,Macbook Pro Laptop,1,1700.00,08/07/19 15:43,"239 Spruce St, Los Angeles, CA 90001"
10,236680,LG Washing Machine,1,600.00,08/09/19 19:38,"967 Willow St, San Francisco, CA 94016"

## 2. Importar SparkSession

Una SparkSession se puede usar para crear DataFrame, registrar DataFrame como tablas, ejecutar SQL sobre tablas, almacenar en cach√© tablas y leer archivos de parquet.

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [7]:
spark

In [ ]:
df_pyspark = spark.read.csv("all_data.csv")

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [29]:
df_pyspark = spark.read.option("header","true").csv("all_data.csv")
df_pyspark.show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  236670|    Wired Headphones|               2|     11.99|08/31/19 22:21|359 Spruce St, Se...|
|  236671|Bose SoundSport H...|               1|     99.99|08/15/19 15:11|492 Ridge St, Dal...|
|  236672|              iPhone|               1|     700.0|08/06/19 14:40|149 7th St, Portl...|
|  236673|AA Batteries (4-p...|               2|      3.84|08/29/19 20:59|631 2nd St, Los A...|
|  236674|AA Batteries (4-p...|               2|      3.84|08/15/19 19:53|736 14th St, New ...|
|  236675|    Wired Headphones|               1|     11.99|08/02/19 23:54|470 Hill St, San ...|
|  236676|34in Ultrawide Mo...|               1|    379.99|08/04/19 19:52|470 Cherry St, Lo...|
|  236677|        20in Monitor|               1|    109.99|08/13/19 07:16|918 6th St, San F...|
|  236678|    Wired Headphones|               1|     11.99|08/25/19 20:11|58 9th St, San Fr...|
|  236679|  Macbook Pro Laptop|               1|    1700.0|08/07/19 15:43|239 Spruce St, Lo...|
|  236680|  LG Washing Machine|               1|     600.0|08/09/19 19:38|967 Willow St, Sa...|
|  236681|AA Batteries (4-p...|               1|      3.84|08/26/19 20:52|295 1st St, Bosto...|
|  236682|AA Batteries (4-p...|               1|      3.84|08/19/19 12:40|118 Johnson St, P...|
|  236683|    27in FHD Monitor|               1|    149.99|08/31/19 15:47|196 West St, Dall...|
|  236684|Lightning Chargin...|               1|     14.95|08/09/19 16:50|669 12th St, New ...|
|  236685|Apple Airpods Hea...|               1|     150.0|08/23/19 19:29|238 Highland St, ...|
|  236686|AAA Batteries (4-...|               1|      2.99|08/15/19 19:13|766 Maple St, Dal...|
|  236687|USB-C Charging Cable|               1|     11.95|08/23/19 12:54|668 Meadow St, Ne...|
|  236688|34in Ultrawide Mo...|               1|    379.99|08/08/19 16:06|821 7th St, Los A...|
|  236689|AAA Batteries (4-...|               1|      2.99|08/21/19 10:55|13 Cedar St, San ...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 20 rows

## 3. Imprimir el Schema

In [30]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [32]:
df_pyspark.printSchema()

root
 |-- Order ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: string (nullable = true)
 |-- Price Each: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)